{"name":"testiap2","slug":"testiap2","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true,"bundleIdentifier":"com.ryancarlos1.testiap"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"com.ryancarlos1.testiap"},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"45304cd2-7855-4761-88ff-4cf77fffaece"}},"sdkVersion":"51.0.0","platforms":["ios","android"]}